<div class="container">
  <img src="../assets/images/coin-logo.png" alt="logo" class="logo float-left"/>

  <h1>CraftsCoin</h1>
  <p class="lead">Node interface</p>

  <nav class="mt-5">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['transactions']" routerLinkActive="active">Pending transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['blockchain']" routerLinkActive="active">Blockchain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['peers']" routerLinkActive="active">Peers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['wallets']" routerLinkActive="active">Wallets</a>
      </li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
      <app-messages></app-messages>
    </div>
  </div>
</div>
